<!-- Start Login Form -->
<form [formGroup]="loginForm" (ngSubmit)="submit()">

    <!-- Start Email Input Group -->
    <div class="form-group">
        <label for="email">{{'Email address' | translate }}</label>
        <div class="neumorphic-inside">
            <input type="email" formControlName="email" id="email" placeholder="{{'Enter email' | translate }}"
            [ngClass]="{ 'form-control': true, 'is-invalid': isEmailInputInvalid, 'is-valid': formControls.email.valid }">
        </div>
        
        <small class="form-text text-muted">{{'We\'ll never share your email with anyone else.' | translate}}</small>
        <small class="form-text text-danger" *ngIf="formControls?.email.touched">
            <span *ngIf="formControls?.email.errors?.required">{{'Email is required' | translate }}</span>
            <span *ngIf="formControls?.email.errors?.pattern">{{'Email is invalid' | translate }}</span>
        </small>

    </div>
    <!-- End Email Input Group -->

    <!-- Start Password Input Group -->
    <div class="form-group">
        <label for="password">{{'Password' | translate }}</label>
        <div class="neumorphic-inside">
            <input type="password" formControlName="password" id="password" placeholder="{{'Password' | translate }}"
            [ngClass]="{ 'form-control': true, 'is-invalid': isPasswordInputInvalid, 'is-valid': formControls.password.valid }">
        </div>
        


        <small class="form-text text-danger" *ngIf="formControls?.password.touched">
            <span *ngIf="formControls?.password.errors?.required">{{'Password is required' | translate }}</span>
            <span *ngIf="formControls?.password.errors?.pattern">
                Your password must be at least 9 characters long,
                contain letters and
                numbers, special characters.
            </span>
        </small>


    </div>
    <!-- End Password Input Group -->

    <!-- Start Form Submit Button -->
    <button type="submit" [disabled]="loginForm.invalid" class="btn btn-primary">{{'Submit' | translate }}</button>
    <!-- End Form Submit Button -->


</form>
<!-- End Login Form -->